<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name"><img src="/img/pngwing.com.png" alt="">Chicken SD</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">

      <li>
       <a href="/empleado/list">
         <i class='bx bx-user'></i>
         <span class="links_name">Empleados</span>
       </a>
       <span class="tooltip">Empleados</span>
     </li>

     <li>
       <a href="/cliente/list">
         <i class='bx bx-money' ></i>
         <span class="links_name">Clientes</span>
       </a>
       <span class="tooltip">Clientes</span>
     </li>
     
     <li>
       <a href="/producto/list">
         <i class='bx bx-restaurant' ></i>
         <span class="links_name">Productos</span>
       </a>
       <span class="tooltip">Productos</span>
     </li>

     <li>
       <a href="/venta/list" style="background-color: white;">
         <i class='bx bx-cart-alt' style="color: black;"></i>
         <span class="links_name" style="color: black;">Ventas</span>
       </a>
       <span class="tooltip">Ventas</span>
     </li>


     <li>
       <a href="/proveedor/list">
         <i class='bx bx-bone' ></i>
         <span class="links_name">Proveedores</span>
       </a>
       <span class="tooltip">Proveedores</span>
     </li>

    </ul>
  </div>